extends layout

block content
  div(id='content')
    h1= title
    p Welcome to #{title}
    br
    p #{user}
    br
    p This is a simple project I made to show a little info about your twitch follows that are streaming. If you have any follows that are streaming now it will show their name, stream title, viewer count, and a thumbnail of the stream.